 <!-- About Section -->
    <section id="overview">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2>Overview</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-left">
			<p>Our robots are envisioned to perform complex tasks in real, noisy, imperfect, partially observable, hardly perceivable
			and unexpectedly behaving environments. Due to the probabilistic nature of the physical world, it is crucial to endow
			robotic systems with the ability to handle uncertainties during the operation. Probabilistic robotics, a vibrant field that
			has gained enormous popularity since its inception in the mid-1990s, provides a compelling paradigm to address this
			dilemma.</p>
			<p>The evolution of the idea of exploiting probabilistic techniques in robotics is paralleled in other relevant domains such
			as classical artificial intelligence (AI), which, in the era of deep learning (DL), still plays an important role on robot
			systems. In contrast, empowered by the learning-based data-driven characteristic, DL as a representative approach of
			modern AI, is able to remarkably enhance the functionality of our robots with its impressive performance on different
			robotic relevant tasks. However, each coin has two sides. The uninterpretable nature of DL and its data-hungry
			learning fashion has unfortunately posed limitations in the applications of various probabilistic approaches. Though
			there has been a plethora of research advances in pursuing a consistent and effective extension of this concept in
			recent years, the challenges arising when deploying our robots in varying scenarios still remain unsolved. In
			consideration of this, it is enlightening to take a look at the probabilistic techniques at the age of pre-DL and peri-DL
			from a probabilistic robotics point of view.</p>
			<p>In light of the above, this workshop aims at providing a forum to bring together robotic and machine learning
			researchers as well as industrial experts with experience on developing probabilistic methods. The discussions will be
			centered on past achievements, current requirements, urgent challenges and future research directions and
			promising applications.</p>
                </div>
            </div>
        </div>
    </section>
