<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body id="page-top" class="index">
{% include nav.html %}
{% include header.html %}

<!-- <div class="popup" onclick="removePopup()">
    <div class="popup-message">
        <h1 style="color: red;">This site is under review</h1>
	<p>The workshop <b>Back to the Future: Robot Learning Going Probabilistic</b> is currently under review by the ICRA 2024 committee</p>
	<p><em>Please click anywhere to continue.</em></p>
    </div>
</div> -->

{% assign style = "" %}
{% for post in site.posts reversed %}

<section class="{{ style }}" id="{{ post.date | date: '%d' }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 style="word-break: break-word;">{{ post.title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
                {{ post.content }}
            </div>
        </div>
    </div>
</section>

{% if style == "success" %}
{% assign style = "" %}
{% else %}
{% assign style = "success" %}
{% endif %}

{% endfor %}

{% include footer.html %}
{% include js.html %}
</body>
</html>
